$red:#e1261c;
$text-black:#111317;
$metal-grey:#E9EDF4;
$dark-grey:#7A818E;

body {
    background: linear-gradient(90deg, #2B303A 0%, #3F4756 100%);
    color: #FFFFFF;
    font-family: 'Sora', sans-serif;
    p,ul {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
    .mb20 {
        margin-bottom: 20px;
    }
}
.container {
    margin: 100px;
}
.descr {
    &-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;   
        margin-bottom: 20px;
    }
    &-text {
        a {
            color: $red;
            text-decoration: underline;
        }
    }
    &_body {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        &-text {
            h2 {
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 20px;
            }
            ul {
                li {
                    list-style: none;
                    position: relative;
                    &::before {
                        content:"-";
                        font-weight: 700;
                        vertical-align:initial;
                        line-height:30px;
                        font-size: 24px;
                        position: absolute;
                        left: -20px;
                        background:linear-gradient(90deg, #911812 0%, #E1261C 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                .grey {
                    &::before { 
                        background: linear-gradient(90deg, #D3DAE8 0%, #A7B7D8 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
        &-img {
            img {
                border-radius: 4px;
                
            }
        }
    }
}
.calculator {
    background-color: #FFFFFF;
    width: 320px;
    color: $text-black;
    padding: 80px 0px;
    clip-path: polygon(5% 0, 95% 0, 100% 2%, 100% 98%, 95% 100%, 5% 100%, 0 98%, 0 2%);
    max-height: 790px;

    .employer-compensation, .health-compensation {
        display: inline;
    }
    .lh15 {
        line-height: 15px;
    }
    h3 {
        line-height: 25px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    p,span {
        font-size: 14px;
        line-height: 20px;
    }
    &_block {
        padding: 0 20px;
    }
    hr {
        display: block; 
        height: 1px;
        border: 0;
        border-top: 1px solid $metal-grey;
        margin: 20px 0;
        padding: 0;
    }
    form {
        display: flex;
        flex-direction: column;
        span {
            margin-bottom: 5px;
        }
        .inp {
            position: relative;
            border: double 2.2px transparent;
            border-radius: 4px;
            background-image: linear-gradient(white, white), radial-gradient(circle at top left, #D3DAE8,#A7B7D8);
            background-origin: border-box;
            background-clip: content-box, border-box;
            box-shadow: 0px 2px 4px 0px #0000001A;
            padding: 1px;
            b {
                position: absolute;
                right: 10px;
                top: 15px; 
            }
        }
        input {
            width: 100%;
            height: 50px;
            border: none;
            outline: none;
            padding: 10px;


            &::placeholder {
                color: lightgrey;
            }
        }
        input[type=checkbox] {
            display: none;
        }
        label {
            padding-left: 20px;
            margin: 20px 0px;
            display: flex;
            align-items: center;
            &::before {
                content: '';
                display: inline-block; 
                width: 20px;
                height: 20px;
                border: double 2px transparent;
                border-radius: 4px;
                background-image: linear-gradient(white, white), radial-gradient(circle at top left, #D3DAE8,#A7B7D8);
                background-origin: border-box;
                background-clip: content-box, border-box;
                box-shadow: 0px 2px 4px 0px #0000001A;
                vertical-align: middle;
                margin-left: -20px;
                margin-right: 10px;

            }
        }
        input[type=checkbox]:checked + label::before {
            content: (url(../img/check.svg));
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button {
            width: 169px;
            height: 60px;
            border-radius: 30px;
            background: linear-gradient(90deg, #911812 0%, #E1261C 100%);
            color: #FFFFFF;
            font-weight: bold;
            border:none;
            text-shadow: 2px 2px #00000066;
            &:hover {
                box-shadow: 0px -4px 0px 0px #00000040 inset;
            }
            &:active {
                box-shadow: 0px 4px 0px 0px #00000040 inset;
            }
        }
    }
    .compensations {
        display: flex;
        text-align: center;
        .daily_health, .daily_employer {
            display: inline;
        }
        p {
            line-height: 15px;
            margin: 0;
        }
        &_block {

            .bold {
                font-weight: 700;
                display: inline;
                line-height: 20px;
                span {
                    font-weight: 700;
                    display: inline;
                }
            }
            h3 {
                font-size: 18px;
                font-weight: 700;

            }
            .price {
                margin: 0;
                margin-top: 10px;
                line-height: 20px;
            }
            span {
                font-weight: 700;
                display: block;
                line-height: 20px;
            }
            .daily {
                color: $dark-grey;
                .daily_employer, .daily_health {
                    font-weight: 400;
                }
            }
        }
    }
    .total {
        text-align: center;
        p {
            line-height: 15px;
            margin: 5px 0px;

        }
        h4 {
            font-weight: 700;
            margin: 0;
            font-size: 24px;
        }
        .final-price {
            display: inline;
        }
    }
}

@media only screen and (max-width: 991px) {
   
    body {
        display: flex;
        justify-content: space-around;
    }
    .container {
        margin: 10px;
    }
    .descr {
        &-title {
            font-size: 32px;
            line-height: 42px;
        }
        &-text {
            font-size: 16px;
        }
        &_body {
            flex-direction: column;
            h2 {
                font-size: 1.5rem;
                line-height: 30px;
            }
            &-text {
                p, ul {
                    font-size: 16px;
                }
            }
            &-img {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
            }
        }
    }
    .calculator {
        min-width: 320px;
        margin-bottom: 20px;
    }
  }